In [2]:
import numpy as np
import pandas as pd

df = pd.read_excel('w6_spam.xlsx')
df

  Unnamed: 0  SPAM  HAM
0     Refund     4    1
1      Money     2    3
2     Access     0    4
3      Bonus     0    9
4      Prize     1   11
5      Offer     3   21
6    Million     4   42
7       Bill    16    9
8       Gift    32    0
9       Cash    37    0

In [3]:
a = 'Million Coupon Bill Unlimited Offer Bonus Cash'
x_test = np.array(a.split(' ')).T
x_test

array(['Million', 'Coupon', 'Bill', 'Unlimited', 'Offer', 'Bonus', 'Cash'],
      dtype='<U9')

In [51]:
list1 = []
list2 = []
for i in x_test:
    ls1, ls2 = 1, 1
    for j in range(10):
        if df['Unnamed: 0'][j] == i:
            ls1 += df['SPAM'][j]
            ls2 += df['HAM'][j]
    list1.append(ls1)
    list2.append(ls2)

In [52]:
import math
list1 = [float(i / 109) for i in list1]
list2 = [float(i / 110) for i in list2]
ySpam = math.log(30/59)
yNam = np.log(29/59)

In [53]:
list1 = [float(math.log(i)) for i in list1]
list2 = [float(np.log(i)) for i in list2]
ySpam += sum(list1)
yNam += sum(list2)

In [54]:
print(ySpam, yNam)

-24.049243460510976 -22.156191419426186

In [55]:
p = 1/(1 + math.exp(max(ySpam, yNam) - min(ySpam, yNam)))
print(p, 1-p)

0.13089686915038073 0.8691031308496193

In [56]:
kek = - (np.log(1/p - 1) - ySpam)
kek

-25.942295501595765